:root {
    --ifm-color-primary: #006aee;
    --ifm-color-primary-dark: #005fd6;
    --ifm-color-primary-darker: #005aca;
    --ifm-color-primary-darkest: #004aa7;
    --ifm-color-primary-light: #0775ff;
    --ifm-color-primary-lighter: #137cff;
    --ifm-color-primary-lightest: #3690ff;
    --ifm-code-font-size: 95%;
    --ifm-navbar-height: 70px;
    --ifm-container-width: 1200px;
  }